<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endwith %}

    <h1>Add Student</h1>

    <form action="/add" method="POST">
        Name: <input type="text" name="name"><br><br>
        Age: <input type="number" name="age"><br><br>
        Math: <input type="number" name="math"><br><br>
        Science: <input type="number" name="science"><br><br>
        English: <input type="number" name="english"><br><br>

        <button type="submit">Add Student</button>
    </form>

</body>
</html>