<!DOCTYPE html>
<html>
<head>
    <title>StudentOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="center-container">

    <div class="main-card">

        <h1>StudentOS</h1>

        <p>
            Modern student management system built for
            simplicity, performance and precision.
        </p>

        <div class="button-group">
            <a href="/login">
                <button>Sign In</button>
            </a>

            <a href="/register">
                <button class="outline-btn">Sign Up</button>
            </a>
        </div>

    </div>

</div>

</body>
</html>